.DS_Store
*.filter
dist/
build/
download_highwind.bat
*.out
Downloader-cache/
EFS0.TMP
Downloader/
Highwind POE filters downloader.log
*.ini
DownloaderConsole.spec
installer/Highwind POE filters downloader_PackList.txt
